<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RtSdMapper">

    <sql id="Base_Column_List">
        id,time,light,t,h,lat,lng,altitude,cogt,speed,waterlevel,weight,pump,motor,door,heat,fan
    </sql>

    <select id="selectAll" resultType="com.example.entity.RtSd">
        select
        <include refid="Base_Column_List" />
        from rtsd
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="time != null"> and time= #{time}</if>
            <if test="lat != null"> and lat= #{lat}</if>
            <if test="lng != null"> and lng= #{lng}</if>
            <if test="altitude != null"> and altitude= #{altitude}</if>
            <if test="cogt != null"> and cogt= #{cogt}</if>
            <if test="speed != null"> and speed= #{speed}</if>
            <if test="t != null"> and t= #{t}</if>
            <if test="h != null"> and h= #{h}</if>
            <if test="waterlevel != null"> and waterlevel= #{waterlevel}</if>
            <if test="weight != null"> and weight= #{weight}</if>
            <if test="pump != null"> and pump= #{pump}</if>
            <if test="motor != null"> and motor= #{motor}</if>
            <if test="light != null"> and light= #{light}</if>
            <if test="door != null"> and door= #{door}</if>
            <if test="heat != null"> and heat= #{heat}</if>
            <if test="fan != null"> and fan= #{fan}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.RtSd">
        select
        <include refid="Base_Column_List" />
        from rtsd
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from rtsd
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.RtSd" useGeneratedKeys="true" keyProperty="id">
        insert into rtsd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="time != null">`time`,</if>
            <if test="lat != null">lat,</if>
            <if test="lng != null">lng,</if>
            <if test="altitude != null">altitude,</if>
            <if test="cogt != null">cogt,</if>
            <if test="speed != null">speed,</if>
            <if test="t != null"> t,</if>
            <if test="h != null"> h,</if>
            <if test="waterlevel != null">waterlevel,</if>
            <if test="weight != null">weight,</if>
            <if test="pump != null">pump,</if>
            <if test="motor != null">motor,</if>
            <if test="light != null">light,</if>
            <if test="door != null">door,</if>
            <if test="heat != null">heat,</if>
            <if test="fan != null">fan</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="time != null">#{time},</if>
            <if test="lat != null">#{lat},</if>
            <if test="lng != null">#{lng},</if>
            <if test="altitude != null">#{altitude},</if>
            <if test="cogt != null">#{cogt},</if>
            <if test="speed != null">#{speed},</if>
            <if test="t != null">#{t},</if>
            <if test="h != null">#{h},</if>
            <if test="waterlevel != null">#{waterlevel},</if>
            <if test="weight != null">#{weight},</if>
            <if test="pump != null">#{pump},</if>
            <if test="motor != null">#{motor},</if>
            <if test="light != null">#{light},</if>
            <if test="door != null">#{door},</if>
            <if test="heat != null">#{heat},</if>
            <if test="fan != null">#{fan}</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.RtSd">
        update rtsd
        <set>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="lat != null">
                lat= #{lat},
            </if>
            <if test="lng != null">
                lng= #{lng},
            </if>
            <if test="altitude != null">
                altitude= #{altitude},
            </if>
            <if test="cogt != null">
                cogt= #{cogt},
            </if>
            <if test="speed != null">
                speed= #{speed},
            </if>
            <if test="t != null">
                t = #{t},
            </if>
            <if test="h != null">
                h = #{h},
            </if>
            <if test="waterlevel != null">
                water_level= #{waterlevel},
            </if>
            <if test="weight != null">
                weight= #{weight},
            </if>
            <if test="pump != null">
                pump= #{pump},
            </if>
            <if test="motor != null">
                motor= #{motor},
            </if>
            <if test="light != null">
                light= #{light},
            </if>
            <if test="door != null">
                door= #{door},
            </if>
            <if test="heat != null">
                heat= #{heat},
            </if>
            <if test="fan != null">
                fan= #{fan},
            </if>
        </set>
        where id = #{id} 
    </update>
</mapper>